name: Go

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:

  lint:
    runs-on: ubuntu-latest
    steps:
    - name: Set up Go
      uses: actions/setup-go@v2
      with:
        go-version: '1.22'
    - uses: actions/checkout@v2
    - name: Setup golangci-lint
      uses: golangci/golangci-lint-action@v2
      with:
        version: latest
        args: --verbose

  test:
    runs-on: ubuntu-latest
    steps:
    - name: Set up Go
      uses: actions/setup-go@v2
      with:
        go-version: '1.22'
    - uses: arduino/setup-protoc@v1
      with:
        version: '3.20.0'
    - uses: actions/checkout@v2
    - name: Build
      run: go build -v ./...
    - name: Test
      run: go test -v ./...
